ckpts/

wandb/

*.err
*.log
logs/
data/utils/__pycache__/
carina.md
*.out

eval/__pycache__/
eval/__pycache__/scorer.cpython-310.pyc
*.pyc
example_test_time_scaling_output.txt

data/model_comparison.csv