openai==1.56.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
transformers==4.46.1
wandb==0.17.3
datasets==3.1.0
accelerate==1.0.1
vllm==0.6.4.post1
ipykernel==6.28.0
ipython==8.20.0
gradio==4.44.0
trl==0.12.0
# HuatuoGPT SGLang
sglang==0.4.3
sgl-kernel==0.0.3
flashinfer_python==0.2.1
outlines==0.0.46
decord==0.6.0
torchao==0.8.0
numpy==1.26.0
# Trouble shooting: deepseed engine issues
# pydantic==1.10.9