openai>=1.61.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
transformers==4.46.1
wandb==0.17.3
datasets==3.1.0
accelerate==0.34.2
vllm==0.6.4.post1
ipykernel==6.28.0
ipython==8.20.0
gradio==4.44.0
trl==0.13.0
# HuatuoGPT SGLang
sglang==0.4.3.post4
sgl-kernel==0.0.3.post7
flashinfer_python==0.2.2.post1
outlines==0.0.46
decord==0.6.0
torchao==0.8.0
numpy==1.26.0
# Trouble shooting: deepseed engine issues
# pydantic==1.10.9
deepspeed==0.15.4